<div class="carousel-block">

    <div ng-show="isLoading" class="loader">
        <div class="general-loader">
            <div class="comment-icon">
                <i class="dit"></i>
                <i class="dit"></i>
                <i class="dit"></i>
            </div>
        </div>
    </div>

    <ul rn-carousel rn-carousel-index="carouselIndex" ng-hide="isLoading">
        <li ng-repeat="item in items">
            <!--{{item}}-->
            <div class="grid-block-container">
                <div class="grid-block" ng-repeat="block in item track by $index" ng-click="clickCallback(block)" ng-class="{'block-border-right': (($index+1) % 4 > 0), 'block-border-bottom': $index < 8}">
                    <img src="{{block.imageUrl}}">
                </div>
            </div>
        </li>
    </ul>
    <div class="controls-block" ng-hide="isLoading">
        <svg ng-click="prevSlide(carouselIndex);" class="prev" fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
            <path d="M0-.5h24v24H0z" fill="none"/>
        </svg>
        <svg ng-click="nextSlide(carouselIndex);" class="next" fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
            <path d="M0-.25h24v24H0z" fill="none"/>
        </svg>
    </div>
</div>