# Dependency directory
node_modules
vendor

# Code Deploy + CircleCI
circle.yml
appspec.yml

# Mac files
.DS_Store

# Visual Code files
.vscode
jsconfig.json

# Logs
npm-debug.*

# Release Files
dist

#build
build
