<!-- Intro Header -->
<header id="inicio" class="intro quem-somos">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 text-center">
                <h2>Quem Somos</h2>
                <p>Somos um time de pessoas apaixonadas pelo que fazemos. Nossos clientes são nossa inspiração e razão de existir. 
                    É exatamente por isso que ocupam o posto principal em nosso organograma. Nossa missão é fornecer soluções que efetivamente tenham impacto em suas vidas profissionais. 
                    Não nos contentamos com o bom porque buscamos a excelência. Nós somos a PLING!</p>
            </div>
        </div>
    </div>
</header>

<section id="compromisso" class="lg-container know-more">
    <div class="container text-center">
        <h1 class="header-text">Nós apoiamos Médicos Sem Fronteiras. Junte-se a nós nesta missão.</h1>
        <p class="intro-text">Acreditamos que podemos construir um mundo melhor. Fazemos isso pela nossa contribuição mensal, incentivando que nossos clientes também contribuam mas, principalmente, dando o exemplo para que outras empresas façam o mesmo. Escolhemos Médicos Sem Fronteiras como destino de nossos esforços. Sempre que um cliente contrata nossos serviços, ele pode optar por doar até 3% do valor para o Médicos Sem Fronteiras. Nós, da PLING, doaremos o mesmo valor do cliente além da doação que já fazemos mensalmente.</p>
        <a class="btn btn-rectangle page-scroll" href="#compromisso" open-new-tab="https://www.msf.org.br/">Saiba mais</a>
        <a class="btn btn-rectangle page-scroll" open-new-tab="https://www.msf.org.br/doador-sem-fronteiras" style="margin-left: 22px;">Doe agora</a>
    </div>
</section>

<section id="contato" class="lg-container fundo-pling">
    <div class="container" style="top:0 !important;">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="intro-text" style="color: #fff!important;font-size: 26px">Nossas soluções adotam as mais modernas tecnologias de computação na nuvem e são ofertadas para todo o Brasil e alguns países do Mercosul. Apesar deste posicionamento estratégico predominantemente virtual, somos uma empresa sólida pertencente a um grupo empresarial com fortes raizes no sul do Brasil. Esta é nossa sede. Nosso CNPJ é 24.289.657/0001­89. Nosso CEO é o Paulo Esteves Filho. Estamos localizados na cidade de Porto Alegre/RS, na Av. Dr. Carlos Barbosa, 68, Bairro Medianeira.</p>
                <a class="btn btn-rectangle page-scroll" ng-click="openContactModal()">Fale conosco</a>
            </div>
        </div>
    </div>
</section>