<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" navbar-animation>
    <div class="container container-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand logo-pling page-scroll" href="#home">
                <img src="dist/assets/img/logo_pling_site.jpg">
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#compromisso">Compromisso social</a>
                </li>
                <li>
                    <a class="page-scroll" href="#sobre">Quem somos</a>
                </li>
                <li>
                    <a class="page-scroll" href="#trabalhe">Trabalhe conosco</a>
                </li>
                <li>
                    <div class="media-link color">                
                        <a class="navbar-brand logo-facebook" ng-href="{{medias.facebook}}" target="_blank">
                            <img src="dist/assets/img/logo_facebook.jpg">
                        </a>
                        <a class="navbar-brand logo-twitter" ng-href="{{medias.twitter}}" target="_blank">
                            <img src="dist/assets/img/logo_twitter.png">
                        </a>
                    </div>
                    <div class="media-link white">
                        <a class="navbar-brand logo-facebook" ng-href="{{medias.facebook}}" target="_blank">
                            <img src="dist/assets/img/logo_facebook_white.png">
                        </a>
                        <a class="navbar-brand logo-twitter" ng-href="{{medias.twitter}}" target="_blank">
                            <img src="dist/assets/img/logo_twitter_white.png">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Intro Header -->
<header id="home" class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="header-text" style="margin-bottom: 0">TBD</p>
                    <p class="header-text">TBD</p>
                    <p class="intro-text" style="margin-bottom: 0">TBD</p>
                    <p class="intro-text">TBD</p>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="compromisso" class="lg-container know-more">
    <div class="container text-center">
        <h2 class="header-text">Compromisso social</h2>
        <p class="intro-text">Nós apoiamos o Médico Sem Fronteiras e incentivamos que você também apoie.</p>
        <a class="btn btn-rectangle page-scroll" open-new-tab="https://www.msf.org.br/doador-sem-fronteiras">Doe agora</a>
        <a class="btn btn-rectangle page-scroll" ng-click="goTo('compromisso-social')">Saiba mais</a>
    </div>
</section>

<section id="sobre" class="lg-container" style="background-color: #356fa2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Quem Somos</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque laoreet velit, ut viverra eros condimentum eget. Nunc malesuada magna ante, in egestas elit molestie et.</p>
            </div>
        </div>
    </div>
</section>

<section id="trabalhe" class="lg-container" style="background-color: black; color:white;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>TBD</h2>
                <p>TBD</p>
                <a class="btn btn-rectangle page-scroll"  href="#marca">Saiba mais</a>
            </div>
        </div>
    </div>
</section>