<header id="inicio" class="intro quem-somos">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Missão</h2>
                <p style="font-size: 20px !important">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque laoreet velit, ut viverra eros condimentum eget. Nunc malesuada magna ante, in egestas elit molestie et.</p>

                <h2>Visão</h2>
                <p style="font-size: 20px !important">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque laoreet velit, ut viverra eros condimentum eget. Nunc malesuada magna ante, in egestas elit molestie et.</p>

                <h2>Valores</h2>
                <p style="font-size: 20px !important">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque laoreet velit, ut viverra eros condimentum eget. Nunc malesuada magna ante, in egestas elit molestie et.</p>
            </div>
        </div>
    </div>
</header>