.md-input-invalid .plg-strength-meter{
    display: none;
}

.plg-strength-meter-container {
    clear:left;
    padding: 10px 0;
}

.plg-strength-meter {
    position: relative;
    height: 3px;
    background: #DDD;    
    border-radius: 3px;    
}

.plg-strength-meter:before, .plg-strength-meter:after {
    content: '';
    height: inherit;
    background: transparent;
    display: block;
    border-color: #FFF;
    border-style: solid;
    border-width: 0 5px 0 5px;
    position: absolute;
    width: calc(20% - 5px);
    z-index: 10;
}

.plg-strength-meter:before {
    left: 20%;
    margin-left:-5px;
}

.plg-strength-meter:after {
    right: 20%;
    margin-right:-5px;
}

.plg-strength-meter-fill {
    background: transparent;
    height: inherit;
    position: absolute;
    width: 0;
    border-radius: inherit;
    transition: width 0.5s ease-in-out, background 0.25s;
}

.plg-strength-meter-fill[data-strength='0'] {
    background: darkred;
    width: 20%;
}

.plg-strength-meter-fill[data-strength='1'] {
    background: orangered;
    width: 40%;
}

.plg-strength-meter-fill[data-strength='2'] {
    background: orange;
    width: 60%;
}

.plg-strength-meter-fill[data-strength='3'] {
    background: yellowgreen;
    width: 80%;
}

.plg-strength-meter-fill[data-strength='4'] {
    background: green;
    width: 100%;
}